.containerAnalytics{
  padding: 80px 20px;
}

.timeSlider input{
  width: 300px;
}
.userMessage{
  color: red;
  font-weight: 300;
  padding: 0px 0px 0px 15px;
}
.calendar {
  display: inline-block;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.well{
  margin-bottom: 0px;
}
.timeSlider input {
  width: 100%;
}