<div class="container-fluid" style="padding: 80px 20px 80px 20px;">
    <div class="row clearfix" ng-controller="AnalyticsUserCtrl">
        <div class="col-md-3 column">
            <div class="row clearfix">

                <script type="text/ng-template" id="customTemplate.html">
                    <div class="item">
                        <img class="pictureUrl" ng-src="{{match.model.profilePicture}}" height="45" ng-show="match.model.profilePicture != null ">
                        <p class="title">{{match.model.name}}</p>
                        <p class="subtitle">{{match.model.username}}</p>
                    </div>
                </script>

                <div>
                    <input type="text" ng-model="selected" typeahead="user as user.name for user in users | filter:{name:$viewValue}"
                           typeahead-template-url="customTemplate.html" typeahead-on-select="onItemSelected($item, $model, $label)" class="searchbox-user form-control" placeholder="Search for user">
                </div>
                <hr>

                <div class="col-md-4 column" ng-show="pictureUrl">
                    <img ng-src="{{pictureUrl}}">
                </div>
                <div class="col-md-8 column">
                    <div class="span4">
                        <span>{{targetName}}</span>
                    </div>
                    <div class="small span4">
                        <span>username: {{targetUserName}}</span>
                    </div>
                    <div class="small span4">
                        <span>last seen: {{lastLocationDate}}</span>
                    </div>
                    <div class="small span4">
                        <span ng-if="userMessage" class="userMessage">{{userMessage}}</span>
                    </div>
                </div>
                <div class="calendar">

                </div>
                <hr><!--TODO fix hr`s position/layout-->
                <em>{{currentDate | date:'fullDate' }}</em><br>
                <span>{{videos.length}} Videos</span>
                <hr>
                <div class="alert alert-warning" role="alert" ng-show="disableHighPrecision">This day does not have high precision locations.</div>
                <input type="checkbox" ng-model="highPrecision" ng-disabled="disableHighPrecision"/>  Highest Precision
                <input type="radio" ng-model="currentMap" value="HEATMAP" ng-change='updateMap()'/> Heatmap
                <input type="radio" ng-model="currentMap" value="PATH" ng-change='updateMap()'/>  Path
            </div>
        </div>
        <div class="col-md-9 column">
            <div ui-map="locationMap" ui-options="mapOptions" ng-style="myStyle" id="location_map_canvas"></div>
            <div class="col-md-12">
                <span class="current-time" ng-bind="currentTime | date : 'HH:mm:ss' "></span>
                <time-slider min="sliderFrom" max="sliderTo" class="timeSlider" ng-model="currentTime" step="0"></time-slider>
            </div>
            <div class="videoList">
                <ul class="list-inline">
                    <li class="videoItem">
                        <video id="{{video.id}}" title="{{video.from | date : 'HH:mm:ss'}} - {{video.to | date : 'HH:mm:ss'}}" ng-repeat="video in videos" type='video/mp4' controls preload='metadata' ng-src="{{trustSrc(video.src)}}"></video>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>